In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import folium
from folium.plugins import HeatMap
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt
from shapely.geometry import Point
import geopandas as gpd
import matplotlib.colors as mcolors
import contextily as ctx

In [4]:
geo_regions = pd.read_csv("Data\geographical_regions.csv")
animals = pd.read_csv("Data\species_info_annie.csv")
taxonomy = pd.read_csv("traits (1).csv")
env = pd.read_csv("Data\species\environmental_df.csv")

In [34]:
geo_regions['Latitude Min'] = geo_regions['Latitude Range'].apply(lambda x: x[0])
geo_regions['Latitude Max'] = geo_regions['Latitude Range'].apply(lambda x: x[1])
geo_regions['Longitude Min'] = geo_regions['Longitude Range'].apply(lambda x: x[0])
geo_regions['Longitude Max'] = geo_regions['Longitude Range'].apply(lambda x: x[1])

# Define a function to find the matching leaf label for each row in env using vectorized operations
def get_leaf_label(row):
    # Vectorized comparison
    match = geo_regions[
        (geo_regions['Latitude Min'] <= row['Latitude']) & 
        (geo_regions['Latitude Max'] >= row['Latitude']) &
        (geo_regions['Longitude Min'] <= row['Longitude']) & 
        (geo_regions['Longitude Max'] >= row['Longitude'])
    ]
    # If a match is found, return the Leaf Number; otherwise, return None
    if not match.empty:
        return match['Leaf Number'].values[0]  # Return the first match if multiple matches
    else:
        return None

# Apply the function to each row in env to add the Leaf Label
env['Leaf Label'] = env.apply(get_leaf_label, axis=1)

In [41]:
env['Unique Label'] = env.apply(lambda x: f"{x['Leaf Label']}_{x['Cluster']}", axis=1)

In [44]:
df = env[["ID", "Unique Label"]]
df

            ID Unique Label
0        31529    168.0_0.0
1        31529    168.0_0.0
2        31529    168.0_0.0
3        31529    168.0_0.0
4        31529    168.0_0.0
...        ...          ...
271265  145031    145.0_3.0
271266  145031    145.0_3.0
271267  145031    145.0_3.0
271268  145031    145.0_3.0
271269  145031    145.0_3.0

[271270 rows x 2 columns]

In [9]:
# Count the number of NaN values for each column
nan_counts = taxonomy.isna().sum()

# Convert the column names and their NaN counts into a list of tuples
nan_counts_list = [(col, count) for col, count in nan_counts.items()]

# Print the list of columns with their NaN counts
print("List of columns with their NaN counts:")
print(nan_counts_list)

List of columns with their NaN counts:
[('Species ID', 0), ('Body symmetry', 6), ('actual evapotranspiration rate in geographic range (millimeters per month)', 425), ('adult yearly survival (percent)', 493), ('age at eye opening (days)', 477), ('age at maturity (days)', 456), ('amino acid composition of milk', 493), ('animal population density (individuals per square kilometer)', 455), ('are commensal with', 493), ('are eaten by', 338), ('are host of', 291), ('are killed by', 482), ('are mutualistic with', 479), ('are parasitized by', 310), ('are preyed upon by', 317), ('are vectors for', 486), ('ash content (percent)', 488), ('auditory system', 3), ('basal metabolic rate (watts)', 448), ('behavioral circadian rhythm', 316), ('bill length (mm)', 488), ('body length (mm)', 422), ('body mass (g)', 152), ('body shape', 391), ('body temperature (kelvin)', 458), ('breeding habitat', 488), ('carbohydrate composition of milk', 484), ('cellularity', 3), ('clutch/brood/litter size', 374), ('co-roost with', 487), ('conservation status', 50), ('developmental mode', 390), ('diet breadth', 437), ('diet includes', 413), ('dispersal age (days)', 490), ('eat', 314), ('ecomorphological guild', 445), ('ecoregion', 84), ('egg diameter (mm)', 494), ('egg laying begins', 479), ('egg mass (oz)', 492), ('endemic to', 472), ('extinction status', 420), ('fatty acid composition of milk', 484), ('females per group', 492), ('first appearance', 466), ('foraging habitat', 445), ('foraging time', 445), ('forelimb length (mm)', 485), ('genome size (pg)', 477), ('geographic distribution', 3), ('geographic range (size of area) (km^2)', 425), ('gestation period duration (days)', 439), ('growth rate (/day)', 455), ('habitat', 24), ('habitat breadth', 442), ('harvested in', 491), ('has sexual dimorphism', 443), ('has toxin', 493), ('have ectoparasite', 346), ('have endoparasite', 435), ('have host', 485), ('have pathogen', 379), ('head-body length (mm)', 473), ('hearing range (Hz)', 118), ('hearing threshold (dB)', 123), ('hind tarsus length (mm)', 490), ('home range (km^2)', 462), ('human population density (individuals per square kilometer)', 425), ('human population density change', 425), ('initial mortality rate (/year)', 493), ('inter-birth interval (days)', 464), ('introduced range includes', 474), ('invasive in', 491), ('kill', 492), ('last appearance', 469), ('latitude (degrees)', 387), ('life span (months)', 355), ('litters per year', 404), ('locomotion', 4), ('log10 productivity', 446), ('longitude (degrees)', 387), ('male female body mass ratio', 492), ('male tenure (months)', 492), ('males per group', 492), ('mass (g)', 377), ('mating system', 401), ('midpoint altitude (m)', 493), ('migration', 397), ('milk lipids (percent)', 481), ('milk solids (percent)', 483), ('mineral composition of milk', 492), ('mineralized skeleton contains', 3), ('motility', 383), ('native range includes', 383), ('nest type', 442), ('number of dna records in ggbn', 448), ('number of fossil occurrences', 466), ('number of public records in bold', 492), ('number of records in gbif', 158), ('number of records in iNat', 160), ('number of research grade records in iNat', 155), ('number of specimens in ggbn', 189), ('nutrient composition of milk', 494), ('onset of fertility (days)', 397), ('outer ear length (mm)', 490), ('parasitize', 492), ('parental care', 361), ('population group size', 480), ('population trend', 52), ('potential evapotranspiration rate in geographic range (millimeters per month)', 425), ('precipitation in geographic range (millimeters per month)', 425), ('prenatal development duration (days)', 398), ('prey on', 403), ('protein composition of milk', 483), ('range midpoint latitude (degrees)', 488), ('reproduction', 338), ('reproductive skew (percent)', 493), ('sensory system', 483), ('sexual system', 7), ('social group size', 468), ('social system', 403), ('soil composition', 494), ('systolic blood pressure (mm hg)', 493), ('tail length (mm)', 490), ('tarsometatarsus + middle toe length (mm)', 494), ('tarsus length (mm)', 490), ('teat number', 474), ('temperature at range midpoint latitude (degrees celsius)', 488), ('temperature in geographic range (0.1°c)', 425), ('testes mass (g)', 493), ('testis location', 437), ('trophic guild', 342), ('type specimen repository', 277), ('used for', 491), ('visit', 483), ('visit flowers of', 470), ('visual system', 5), ('vocalization behavior', 467), ('water dissolved o2 concentration (mL/L)', 485), ('water nitrate concentration (µmol/l)', 485), ('water o2 saturation (percent)', 485), ('water phosphate concentration (µmol/l)', 485), ('water salinity (psu)', 485), ('water silicate concentration (µmol/l)', 485), ('water temperature (degrees celsius)', 485), ('weaning age (days)', 440), ('wet body mass (g)', 481)]

In [12]:
taxonomy["population trend"].value_counts()

population trend
('Stable',)                     220
('Decreasing',)                 162
('Unknown',)                     35
('Increasing',)                  25
('Decreasing', 'Decreasing')      1
Name: count, dtype: int64

In [14]:
cols = ["habitat", "conservation status", "ecoregion", "body temperature (kelvin)", "locomotion", "motility", "population trend"]

taxonomy[cols]

,habitat,conservation status,ecoregion,body temperature (kelvin),locomotion,motility,population trend
0,('terrestrialURI:http://purl.obolibrary.org/ob...,('least concernURI:http://eol.org/schema/terms...,('Mississippi Lowland ForestsURI:http://eol.or...,NaN,('quadrupedal movementURI:https://www.wikidata...,('actively mobileURI:http://eol.org/schema/ter...,"('Stable',)"
1,('terrestrialURI:http://purl.obolibrary.org/ob...,('least concernURI:http://eol.org/schema/terms...,('Hispaniolan Moist ForestsURI:http://eol.org/...,NaN,('saltationURI:http://purl.obolibrary.org/obo/...,NaN,NaN
2,('freshwater habitatURI:http://purl.obolibrary...,('least concernURI:http://eol.org/schema/terms...,('East Sudanian SavannaURI:http://eol.org/sche...,NaN,('saltationURI:http://purl.obolibrary.org/obo/...,NaN,"('Unknown',)"
3,('coastalURI:http://purl.obolibrary.org/obo/EN...,('near threatenedURI:http://eol.org/schema/ter...,NaN,NaN,('quadrupedal movementURI:https://www.wikidata...,NaN,"('Stable',)"
4,('temperateURI:http://purl.obolibrary.org/obo/...,('least concernURI:http://eol.org/schema/terms...,('Allegheny Highlands ForestsURI:http://eol.or...,NaN,('quadrupedal movementURI:https://www.wikidata...,('actively mobileURI:http://eol.org/schema/ter...,"('Stable',)"
...,...,...,...,...,...,...,...
490,('terrestrialURI:http://purl.obolibrary.org/ob...,('least concernURI:http://eol.org/schema/terms...,('Central Zambezian Miombo WoodlandsURI:http:/...,NaN,('concertinaURI:https://www.wikidata.org/entit...,NaN,"('Unknown',)"
491,('terrestrialURI:http://purl.obolibrary.org/ob...,('least concernURI:http://eol.org/schema/terms...,('Eastern Highlands Moist Deciduous ForestsURI...,NaN,('concertinaURI:https://www.wikidata.org/entit...,NaN,"('Unknown',)"
492,('terrestrial habitatURI:http://purl.obolibrar...,NaN,('Western Australian Mulga ShrublandsURI:http:...,NaN,('runningURI:http://purl.obolibrary.org/obo/NB...,NaN,NaN
493,('woodland canopyURI:http://purl.obolibrary.or...,('least concernURI:http://eol.org/schema/terms...,('Eastern Java-Bali Rain ForestsURI:http://eol...,NaN,('runningURI:http://purl.obolibrary.org/obo/NB...,NaN,"('Stable',)"
494,('aridURI:http://purl.obolibrary.org/obo/ENVO_...,('least concernURI:http://eol.org/schema/terms...,('Northern Short GrasslandsURI:http://eol.org/...,"(311.45,)",('runningURI:http://purl.obolibrary.org/obo/NB...,('actively mobileURI:http://eol.org/schema/ter...,"('Decreasing',)"